<!DOCTYPE html>
<html>
<% include header %>
<% include navbar %>

<body class="container" id="home">
    <h1>Concept of Operations</h1>
    <p class="lead">Scroll below to see the list of operational modes.</p>
    <hr>
    <img id="sun" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Sun_icon.svg/1020px-Sun_icon.svg.png" />
    <div id="earth-orbit">
        <img id="earth" src="http://image005.flaticon.com/1/png/512/44/44386.png" />
        <div id="moon-orbit">
            <div id="moon">
                <img class="bottom" src="/img/apllogo.jpg" />
                <img class="top" src="/img/apllogoNOPPT.png" />
            </div>
        </div>
    </div>
    <div class="dividerhuge"></div>
    <hr>
    <h1>Flowchart</h1>
    <p class="lead">List of the enumerated states along with entry and exit conditions.</p>
    <img src="/img/conops.png" style="width:100%;height:50%px;">
    <hr>
</html>