<!DOCTYPE html>
<html data-ng-app="cubesatApp">
<% include header %>

<body id="home">   
    <p>Hello world</p>

    <div class="divider"></div>
    <div class="container">
        <% include footer %>
    </div>
    <div class = "divider"></div>
</body>
</html>

         