<!DOCTYPE html>
<html data-ng-app="cubesatApp">
<% include header %>
<% include navbar %>

<body class="container" data-ng-controller="massController">
    <h1>Mass Budget</h1>
	<p class="lead">Keeping track of the mass requirements per subsystem by the component level.</p>
    <hr>
</body>

</html>