<!DOCTYPE html>
<html data-ng-app="cubesatApp">
<% include header %>
<% include navbar %>

<body class="container" data-ng-controller="moneyController">
    <h1>Money Budget</h1>
	<p class="lead">Keeping track of the monetary budgets per subsystem by the component level.</p>
    <hr>
</body>

</html>