<div class = "navbar navbar-default navbar-fixed-top">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse"
                data-target = ".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class = "icon-bar"></span> 
                <span class = "icon-bar"></span> 
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>
        </div>

        <div class = "navbar-collapse collapse">
            <ul class = "nav navbar-nav">
                <li id = "home">
                    <a href="/home">
                        <h2><span class="glyphicon glyphicon-home"></span> Home</h2>
                    </a>
                </li>
                <li id = "requirements">
                    <a href="/req" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <h2><span class="glyphicon glyphicon-tasks"></span> Requirements</h2>
                        <ul class="dropdown-menu">
                            <li><a href="/req"><h4>View All</h4></a></li>
                            <li><a href="/newreq"><h4>Post Requirement</h4></a></li>
                        </ul>
                    </a>
                </li>
                <li id = "products">
                    <a href="/prodlist">
                        <h2><span class="glyphicon glyphicon-gift"></span> Products</h2>
                    </a>
                </li>
                <li id = "teamwork">
                    <a href="/teamwork">
                        <h2><span class="glyphicon glyphicon-user"></span> Teamwork</h2>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>