<div class = "navbar navbar-default navbar-fixed-top">
    <div class = "container-fluid">
        <div class = "navbar-header">
            <button type = "button" class = "navbar-toggle collapsed" data-toggle = "collapse"
                data-target = ".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class = "icon-bar"></span> 
                <span class = "icon-bar"></span> 
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
                <span class = "icon-bar"></span>
            </button>
        </div>

        <div class = "navbar-collapse collapse">
            <ul class = "nav navbar-nav">
                <li id = "home">
                    <a href="/home">
                        <h3><span class="glyphicon glyphicon-home"></span> Home</h3>
                    </a>
                </li>
                <li id = "requirements">
                    <a href="/req" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <h3><span class="glyphicon glyphicon-tasks"></span> Requirements</h3>
                        <ul class="dropdown-menu">
                            <li><a href="/req"><h4>View All</h4></a></li>
                            <li><a href="/newreq"><h4>Add Requirement</h4></a></li>
                        </ul>
                    </a>
                </li>
                <li id = "products">
                    <a href="/prodlist">
                        <h3><span class="glyphicon glyphicon-gift"></span> Components</h3>
                    </a>
                </li>
                <li id = "progress">
                    <a href="/progress">
                        <h3><span class="glyphicon glyphicon-calendar"></span> Progress</h3>
                    </a>
                </li>
                <li id = "budgets">
                    <a href="/volume" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <h3><span class="glyphicon glyphicon-book"></span> Budgets</h3>
                        <ul class="dropdown-menu">
                            <li><a href="/volume"><h4>Volume</h4></a></li>
                            <li><a href="/mass"><h4>Mass</h4></a></li>
                            <li><a href="/power"><h4>Power</h4></a></li>
                            <li><a href="/money"><h4>Money</h4></a></li>  
                        </ul>                          
                    </a>
                </li>
                <li id = "conops">
                    <a href="/conops">
                        <h3><span class="glyphicon glyphicon-cog"></span> ConOps</h3>
                    </a>
                </li>
            
        </div>
    </div>
</div>