<!DOCTYPE html>
<html data-ng-app="cubesatApp">
<% include header %>
<% include navbar %>

<body class="container" data-ng-controller="powerController">
    <h1>Power Budget</h1>
	<p class="lead">Keeping track of the power requirements per subsystem by the component level.</p>
    <hr>
</body>

</html>